@import url('https://fonts.googleapis.com/css?family=Comfortaa|Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=ABeeZee|Open+Sans|Poppins|Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-family: 'Poppins', sans-serif;
    background-color: #00ff85;
}

header {
    width: 100%;
    height: 60px;
    background-color: #38003c;
    text-decoration-color: #F9F8F2;
    grid-area: header;
}

#menu {
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
    background-color: transparent;
    list-style:none;
    float: right;
    height: 60px;
    vertical-align: middle;
}

#menu li { 
    display: inline;
    margin-left: 10px;

}

.btn-header {
    background-color: #38003c;
    border: none;
    /*border: 3px solid #fff;
    border-bottom: 8px solid #fff;*/
    padding: 0px 15px;
    border-radius: 0px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 0px;
    height: 60px;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.btn-header:hover {
    background-color: #00ff85;
    /*border-color: #00ff85;*/
    transition: 0.3s;
    color: #38003c;    
}

.btn-header-main {
    background-color: #00ff85;
    border: none;
    /*border: 3px solid #fff;
    border-bottom: 8px solid #fff;*/
    padding: 0px 15px;
    border-radius: 0px;
    color: #38003c;
    font-weight: 600;
    padding-bottom: 0px;
    height: 60px;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.logo {
    transition: 0.5s;
    display: flex;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 20px;
    text-decoration: none;
}

.tower1{
    margin-top: 20px;
    margin-left: 5px;
    height: 10px;
    width: 5px;
    background-color: #fff;
    border-radius: 2px;
}

.tower2{
    margin-top: 12.5px;
    margin-left: 5px;
    height: 17.5px;
    width: 5px;
    background-color: #00ff85;
    border-radius: 2px;
}

.tower3{
    margin-top: 5px;
    margin-left: 5px;
    height: 25px;
    width: 5px;
    background-color: #fff;
    border-radius: 2px;
}

.letter{
    letter-spacing: 2px;
    margin-left: 10px;
}


